@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    width: 100%;
    height: 800px;
}
script {
    background: white;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-self: center;
}
p {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 200px;
}